<%= render "shared/header", name: "Categories" %>
<%= render "shared/navbar" %>
<div class="header-2">
  Hi, <strong>
    <%= current_user.name %>
  </strong>
</div>
<div class="utilities">
  <%= render partial: 'category' %>
</div>
<div class="utilities-footer">
  <%= link_to "New Utitlity", new_user_utility_path(user_id: current_user.id), class: "btn btn--green" %>
  <div>