

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form form--type-2"}) do |f| %>
  
  <ul class="header">
    <li class="nav-item">
      <%= link_to home_path do %>
        <i class="fa-solid fa-arrow-left-long back"></i>
      <%end%>
    </li>
    <li class="nav-item">LOGIN</li>
    <li class="nav-item">    
        <%= f.submit "Log in", class: "btn-header" %>  
    </li>
  </ul>
  
    <div class="field form__group first">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form__input" %>
    </div>

    <div class="field form__group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form__input" %>
    </div>

    <div class="desktop-actions">
      <%= f.submit "LOG IN", class: "btn btn--blue btn--blue" %>
    </div>
     <div><%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn--link" %><br />
     <div> Don't have account? <%= link_to "Register Here", new_user_registration_path(resource), class: "btn btn--link" %> </div>
    </div>  
<% end %> 
 
